{% extends 'base.html.twig' %}
{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <h1>
        {% if editMode %}
        Modification d'une figure
        {% else %}
        Création d'une nouvelle figure
        {% endif %}
    </h1>

    {{ form_start(formArticle) }}

    {{ form_row(formArticle.title, {'attr':{'placeholder': "titre de la figure "}}) }}
    {{ form_row(formArticle.description, {'attr':{'placeholder': "description de la figure"}}) }}
    {{ form_row(formArticle.category) }}

    <h2>Images</h2>
    {{ form_row(formArticle.image, {'attr':{'placeholder': "télécharger image"}} ) }}


    <button type="submit" class="btn btn-success">
        {% if editMode %}
        Modifier
        {% else %}
        Ajouter
        {% endif %}
    </button>
    {{ form_end(formArticle) }}

{% endblock %}