{% extends 'base.html.twig' %}
{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <h1>
        {% if editMode %}
        Modification d'une figure
        {% else %}
        Création d'une nouvelle figure
        {% endif %}
    </h1>

    {{ form_start(formArticle) }}

    {{ form_label(formArticle.title, 'Titre') }}
    {{ form_row(formArticle.title, {'attr':{'placeholder': "titre de la figure "}}) }}

    {{ form_label(formArticle.description, 'Description') }}
    {{ form_row(formArticle.description, {'attr':{'placeholder': "description de la figure"}}) }}

    {{ form_label(formArticle.category, 'Catégorie') }}
    {{ form_row(formArticle.category) }}

    <h2>Ajouter des Images:</h2>
    {{ form_row(formArticle.image, {'attr':{'placeholder': "télécharger image"}} ) }}

    <div>
    <h2>Ajouter des videos :</h2>
    {{ form_row(formArticle.video, {'attr': {'placeholder': "url video"}} ) }}
    </div>









    <div>
    <button type="submit" class="btn btn-success">
        {% if editMode %}
        Modifier la figure
        {% else %}
        Ajouter la figure
        {% endif %}
    </button>
    </div>

    {{ form_end(formArticle) }}

{% endblock %}