{% extends 'base.html.twig' %}
{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <h1>
        {% if editMode %}
        Modification d'une figure
        {% else %}
        Création d'une nouvelle figure
        {% endif %}
    </h1>

    {{ form_start(formArticle) }}

        <div class="figureTitle">
        {{ form_label(formArticle.title, 'Titre') }}
        {{ form_row(formArticle.title, {'attr':{'placeholder': "titre de la figure "}}) }}
        </div>

        <div class="figureDescription">
        {{ form_label(formArticle.description, 'Description') }}
        {{ form_row(formArticle.description, {'attr':{'placeholder': "description de la figure"}}) }}
        </div>

        <div class="figurecategory">
        {{ form_label(formArticle.category, 'Catégorie') }}
        {{ form_row(formArticle.category) }}
        </div>

        <div class="figureImage">
        <h2>Ajouter des Images:</h2>
         {{ form_row(formArticle.image, {'attr':{'placeholder': "télécharger image"}} ) }}
        </div>

        <div class="figureVideo">
        <h2>Ajouter des videos :</h2>
            {#{{ form_row(formArticle.video, {'attr': {'placeholder': "url video"}} ) }} #}
            <ul class="video" data-prototype="{{ form_widget(formArticle.video.vars.prototype)|e('html_attr') }}">
        </div>

        <div class="figureButton">
            <button type="submit" class="btn btn-success">
                {% if editMode %}
                Modifier la figure
                {% else %}
                Ajouter la figure
                {% endif %}
            </button>
        </div>

    {{ form_end(formArticle) }}

{% endblock %}




